.navbar{
    position: static;
    width: 100%;
    background-color: rgb(38,38,38);
}
.navbar-toggler{
    color: rgb(154,138,120);
}
.nav-link{
    color: rgb(154,138,120);
}

.navbar-brand{
    color: rgb(154,138,120);
}

@media only screen and (max-width: 991px){ 
    .navbar-collapse {
        position: absolute;
        width: 100vw;
        top: 56px;
        left: 0;
        z-index: 1000;
        background-color: rgb(38,38,38);
        text-align: center;
    }
}